
@layer base {
  body {
    background: var(--colors-bg\.canvas);
    color: var(--colors-text\.primary);
    font-family: var(--fonts-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
